html, body{

	overflow: hidden;

}
/*
	lg-container (the looking glass container) will fill its parent container unless specified otherwise.
*/

#my-container{
	position: absolute;
	width:50%;
	left: 50%;
	right: 50%;
	margin-left: -25%;
	height: 100%;
	overflow: visible;
}

#lg-top-image{

	overflow: visible !important;

}

h1{

	font-family: "Comic Sans MS";

}

#img-box h1:nth-child(1){
	width: 300px;
	top: 30%;
	left: 10%;
	color: green;

}

#img-box h1:nth-child(2){
	width: 300px;
	top: 15%;
	color: blue;
	left: 60%;

}

#img-box h1:nth-child(3){
	width: 300px;
	top: 80%;
	color: yellow;
	left: 70%;

}


#img-box h1:nth-child(4){
	width: 300px;
	top: 60%;
	left: 10%;
	color: red;

}